/* colors */
.ourPurple{
	color: #a7079f;
}
.ourYellow{
	color: #ffd868;
}
.bg-ourYellow{
	background-color: #ffd868;
}
.bg-ourPurple{
	background-color: #a7079f;
}

.btn-outline-ourYellow {
    --bs-btn-color: #ffd868;
    --bs-btn-border-color: #ffd868;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ffd868;
    --bs-btn-hover-border-color: #ffd868;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d6efd;
    --bs-btn-active-border-color: #ffd868;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffd868;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none
}

.btn-outline-ourPurple {
    --bs-btn-color: #a7079f;
    --bs-btn-border-color: #a7079f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a7079f;
    --bs-btn-hover-border-color: #0d6efd;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #a7079f;
    --bs-btn-active-border-color: #a7079f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #a7079f;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none
}

.colorMix{
	 background-color: color-mix(in srgb, #34c9eb 40%, white);
}


/* Icon */
.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}



